#header
  #logo
    img(src="/images/ChromeExtensionLogo.png", alt="CharityClickIcon", title="CharityClick icon",  width ="80")
    h1 Charity
      span Click
      sup 1.0
  #topmenu
    ul
      li
        a(href='/index') Home
      li
        a(href='/charity/register') Register your charity