!!! default
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    title CharityClick
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='Content-Language', content='EN')
    meta(http-equiv='Cache-Control', content='must-revalidate, post-check=0, pre-check=0')
    meta(http-equiv='Pragma', content='public')
    meta(http-equiv='Cache-Control', content='no-cache')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='-1')
    meta(name='robots', content='all,follow')
    meta(name='googlebot', content='all,follow,snippet,archive')
    meta(name='description', content='CharityClick is a free plugin for charities and those who want to make donations to good causes. It detects charities registered with us whenever their name is mentioned in any website.')
    meta(name='keywords', content='charity charityclick charities donate easy')
    meta(http-equiv='imagetoolbar', content='no')
    meta(http-equiv='MSThemeCompatible', content='no')
    meta(content='TRUE', name='MSSmartTagsPreventParsing')
    meta(content='off', name='autosize')
    meta(name='author', content='David Morgantini, Andrea James')
    meta(name='google-site-verification', content='38GDWT8cHqfCKwkTGipCkVfawKO_fVm3DrZ1woKC2io')

    link(rel='stylesheet', href='/styles/newStyle.css')
    script(src='/js/jquery/jquery.min.js', type='text/javascript')

  body
    != body
