#newHeader.body
  a(href="/")
    h1 CharityClick
      sup (Alpha)
  h2 Simple and fast charity donations
  div.links
    a(href="/aboutus", title="About Us") About Us
    a(href="/contact", title="Contact") Contact
    a(href="/charity/login", title="Login") Login