include ../newHeader
#main_content.body
  #description
    h2 About Us
    p
      | We created Charity Click to answer the repeated cry of many charities, particularly small ones,
      | saying that they need to reach a wider and deeper pool of donors but sadly they struggle to achieve
      | this aim with their prohibitively small marketing budgets.

    p
      | Charity Click provides all charities with an easily accessible, action-driven marketing channel
      | at low cost (or no cost for small volumes) and with no upfront fees by using our search functionality
      | to leverage the emotive power of already existing media mentions of charities anywhere on the web.

  #charity-list
    h2 Who are we?
    p
      | Andrea James
      br
      | Co-founder - Business
    p
      | David Morgantini
      br
      | Co-founder - Tech

div(style='clear:both;')
