include ../newHeader
#main_content.body
  #description
    h2 Contact Us
    p For more information on Charity Click, please feel free to contact Andrea on 0208 1234 290 or via email
    a(href="mailto:andrea@charityclick.net") andrea (at) charityclick.net
div(style='clear:both;')
